.button-group {
  display: flex;
  flex-direction: row;

  .btn {
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem 0 1rem;
    border: none;
    outline: none;
  }

  .content {
    font-size: 1rem;
  }
}
.btn-add {
  background-color: rgb(9, 2, 107);
  color: white;
}
.btn-remove {
  background-color: rgb(9, 2, 107);
  color: white;
}
