.card {
  // border: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: 7rem;
  box-shadow: 0.2rem 0.2rem 1rem rgb(189, 189, 189);
}

.card-image {
  width: 5rem;
  height: 5rem;
}
.title {
  text-align: center;
  max-width: 15rem;
  margin-left: 5rem;
}
