.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 141, 66);
  height: 4rem;

  .navbar {
    list-style: none;
    text-decoration: none;
    display: inline;

    .input {
      width: 20rem;
      height: 2rem;
      outline: none;
      border: none;
    }
  }
  .icon {
    font-size: 2.5rem;
    color: white;
    margin-top: 2rem;
  }
}
.amount {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: rgb(3, 3, 121);
  position: relative;
  top: -3.5rem;
  left: 0.8rem;
  font-size: 1.5rem;
  text-align: center;
}
h3 {
  color: white;
  margin-right: 1rem;
  font-size: 1.5rem;
}
